.contenedor-carrusel{
    padding:20px;
    border-radius: 20px;
}
#carouselExample {
    height: 500px; 
    overflow: hidden; 
}

#carouselExample .carousel-inner img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}
.pagina-principal{
    text-align: center;
    padding-block: 50px;
}
.layout-custom{
    background-color:#9a8c98
}

body{
    background-color: #f8e4ff;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    background-color: #9a8c98;
}

.logo-transparente{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    margin: 5px;
}

.textos-layout{
     color: #ffffff !important; 
}

.footer-custom{
    margin-top: 50px;
    padding-inline: 50px;
}

.navBar-custom{
    margin-bottom: 50px
}

.galeria{
    gap: 20px;
    margin-bottom: 50px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.titulos-layout{
    color: #926dad !important;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(154, 140, 152, 0.5); 
    letter-spacing: 1px;
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
}

.fondo-imagenes{
    object-fit: contain; 
    width: min-content;
    background-color:#9a8c98;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuerpo-presentacion{
    display: flex;
    flex-direction: column;
}



